.query-container{
    background-color: var(--background0);
}

.section-header{
    background-color: var(--background0);
    position: relative;
}

.info-alert{
    position: absolute;
    top: 1;
    right: 0;
}

.header-underline{
    border-bottom: 2px solid var(--highlight)
}

.test {
    background-color: green;
}

.results-container{
    min-height: 300px;
}

.waitphrase-enter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity:0.01;
}
.waitphrase-enter-active{
    opacity:1;
    transition: all 500ms ease-in;
}
.waitphrase-exit{
    opacity:1;
}
.waitphrase-exit-active {
    opacity:0.01;
    transition: all 500ms ;
}

.more-button {
    background-color: var(--background0);
    color: var(--darkbg);
    border-bottom: var(--highlight);
    background:linear-gradient(transparent,rgba(225, 225, 225, 0.823));
}
.more-button:hover {
    background-color: var(--background0);
    color: var(--darkbg);
}