.footer{
    height: 200px;
    flex-wrap: wrap;
    background: var(--darkbg);
    overflow: hidden;
}

.footer-content {
    height: 100%;
}


.quote {
    font-family: simplifica, Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
    color: rgb(164, 102, 22);
    font-size: 1.4rem;
}
.quote-icon{
    color:rgb(86, 52, 8);
}

.contact{
    color: rgb(186, 118, 30);
}
.email{
    color: var(--highlight);
}

.test{
    background-color: green;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .quote {font-size:1.5rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .quote {font-size:1.6rem;} /*1rem = 16px*/
}
  