.container {
    min-height: 200px;
}

.rest-link {
    position: absolute;
    top: 1;
    right: 0;
}

.rest-like {
    position: absolute;
    top: 1;
    right: 40px;
}


.rest-button {
    border: none;
    background-color: #fff;
    color: var(--highlight);
}
.rest-button:hover {
    background-color: var(--background1);
    color: var(--highlight);
}

.rest-title{
    font-family: simplifica, Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color: var(--highlight);
}
.rest-info{
    font-family: simplifica, Georgia, 'Times New Roman', Times, serif;
}

.rest-container{
    position: relative;
}

.summary-info {
    color: var(--icon);
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .rest-like{
        right: 60px;
    }
}
   
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .rest-like{
        right: 60px;
    }
}
  