:root {
  --background: ;
  --block: ;
  --highlight: ;
  --header: ;
  --darkbg: #282c34;
  --text: ;
  --icon: #afe3f8;
}


.divider{
  border-top: 4px solid var(--muted);
}

.flex {
  display:flex;
}

.flex-stretch {
  flex-grow: 1;
}

.flex-justify-evenly {
  justify-content: space-evenly !important;
}

.flex-horizontal-center {
  justify-content: center !important;
}

.flex-vertical-center{
  align-items: center !important;
}

.modal-w60{
  min-width: 60% !important;
}

.modal-w80{
  min-width: 80% !important;
}

.modal-w90{
  min-width: 90% !important;
}

.modal-w100{
  min-width: 100% !important;
}


html {
  font-size: 0.7rem;
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  html {font-size:0.9rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html {font-size:1rem;} /*1rem = 16px*/
}
