:root {
  --background0: white;
  --background1: #E2F0F9;
  --background2:  rgba(132, 183, 228, 0.93);
  --block: #B0DDE4;
  --highlight: #DF4C73;
  --header: #286FB4;
  --darkbg: #282c34;
  --text: ;
  --icon: rgb(243, 222, 63);
}


.divider{
  border-top: 4px solid var(--darkbg);
}

.flex {
  display:flex;
}

.flex-stretch {
  flex-grow: 1;
}

.flex-justify-evenly {
  justify-content: space-evenly !important;
}

.flex-horizontal-center {
  justify-content: center !important;
}

.flex-vertical-center{
  align-items: center !important;
}

.modal-w60{
  min-width: 60% !important;
}

.modal-w80{
  min-width: 80% !important;
}

.modal-w90{
  min-width: 90% !important;
}

.modal-w100{
  min-width: 100% !important;
}

.section-header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5% 0;
}

.width-100 {
  width: 100%
}

html {
  font-size: 0.7rem;
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  html {font-size:0.9rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html {font-size:1rem;} /*1rem = 16px*/
}
